#body1{
    background-color: #6c9293;
}

#namnRubrik{
    color: #C3ABAB;
    text-decoration:underline;
    text-align: center;
}
table{
    width: 280px;
    margin: auto;
    border: solid #C3ABAB;
}

th{
    background-color: #C3ABAB;
    border: solid #C3ABAB;
}
td{
    background-color: #C3ABAB;
    border: solid #C3ABAB;
    text-align: center;
}
hr{
    border: solid black;
    margin-left: 450px;
    margin-right: 450px;
}
#pFp{
    margin: auto;
    display: block;
    border: solid black 5px;
}
#paragraf{
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    font-size: larger;
}
#nextPage{
    margin-top: 250px;
}
#nextPage1{
    text-align: center;
    margin-top: 250px;
}
#nextPage2{
    text-align: center;
    margin-top: 85px;
}

#nextPage3{
    text-align: center;
    margin-top: 162px;
}
#nextPage4{
    text-align: center;
    margin-top: 75px;
}



#body2{
    background-color: #EDD0D0;
}
#rubrikErfarenhet{
    color: #75163F;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 40px;

}
.paragrafErfarenhet{
    color: #75163F;
    text-align: center;
    margin-left: 475px;
    margin-right: 475px;
}
.klassErfarenhet{
    color: #75163F ;
    text-align: center;
}

#body3{
    background-color: #C3C08D;
}

#body4{
    background-color: #66C3BD;
}



#rubrikUtbildning{
    color: #E3E015;
    text-align: center;
    text-decoration: underline;
}
.h2Utbildning{
    color: #E3E015;
    text-align: center;
    margin-left: 475px;
    margin-right: 475px
}
.h3Utbildning{
    text-align:center;
    color: #E3E015; 
    margin-left: 475px;
    margin-right: 475px;    
}

.rubrikOmmig{
    color: #FF46A2;
    text-align: center;
    text-decoration: underline;
}
.h2Ommig{
    color: #FF46A2;
    text-align: center;
}
.h3Ommig{
    color: #FF46A2;
    text-align: center;
}
.paragrafOmmig{
    color: #FF46A2;
    text-align: center;
    margin-left: 475px;
    margin-right: 475px;
}
form{
    margin-top: 50px;
    margin-left: 675px;
    margin-right: 655px;
    color: #FF46A2;
}

